@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 5%;
  padding: 10%;
}
div {
  background: #7b1620;
  text-align: justify;
}
a kbd {
  color: black;
  border-radius: 25px;
  background: #fff700;
  padding: 5px 5px;
  margin: 15px 15px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px #333;
  cursor: pointer;
}

kbd:active {
  background-color: #385;
  box-shadow: none;
}
span {
  color: #385;
}

form,
label {
  margin: auto;
  text-align: center;
  background-color: darkgreen;
  height: 20%;
  width: 20%;
  color: #fff;
}
input {
  text-align: center;
}
button {
  cursor: progress;
  font-size: xx-large;
}
