*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
    color: white;
    margin: 0% auto;
    text-align: justify;
}
h1{
    margin: 50px auto;
    color: blue;
    text-shadow: 1px 2px 3px #673;
}
span, p{
    color: #9cc;
    font-size: 1em;
    width: 50%;
    height: 50%;
}
form{
    border: 5px dotted red;
    width: 30%;
    height: 20%;
}
form input[type=text]{
    border-radius: 5px;
    background-color: #cc2;
}