@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: white;
    text-align: center;
    margin: 15% 5%;
}
.container{
    border: solid 5px red;
    box-shadow: 1px 2px 30px 2px;
    height: 100%;
    width:100%;
    text-align: justify;
}
h1{
    text-align: center;
}
span{
    background-color: #FC48;
}